/* 公共的css代码文件 */
/* 各个部分公共的宽度 */
.wrapper_01 {
  width: 1100px;
  margin: 0 auto;
}
.wrapper_02 {
  width: 980px;
  margin: 0 auto;
}
.wrapper_03 {
  width: 982px;
}
body {
  font-size: 12px Arial, Helvetica, sans-seri;
}

.top-bar_sprite {
  display:inline-block;
  background-image: url(../img/topbar.png);
}
.top-bar_icon_hot {
  width: 28px;
  height: 19px;
  background-position: -190px 0;
}

/* 对网易云按钮的封装 */
.btn_sprite {
  display: inline-block;
  background: url(../img/sprite_button.png) no-repeat;
  height: 31px;
  line-height: 31px;
  text-align: center;
  padding-right: 5px;
}
.btn_type_01_sup {
  background-position: right -100px;
  /* height: 31px;
  line-height: 31px;
  text-align: center; */
  box-sizing: border-box;
  /* padding-right: 5px; */
}
.btn_type_01_sub {
  display: block;
  height: 31px;
  /* 使得文字居中 */
  padding-left: 2.5px;
  background-position: 0 -59px;
}
.btn_type_fav_sup {
  background-position: right -1020px
}
.btn_type_fav_sub {
  display: inline-block;
  background-position: 0 -977px;
  padding-left: 28px;
}

/* 网易云icon小图标 */
.sprite_01 {
  /* icon小图标共性 */
  display: inline-block;
  background-image: url(../img/icon_sprite.png);
  background-position: 0 -24px;
  width: 14px;
  height: 11px;
}
.sprite_02 {
  display: inline-block;
  background-image: url(../img/icon_sprite.png);
  background-position: 0 0;
  width: 16px;
  height: 17px;
}
/* 电台节目icon小图标 */
.sprite_all {
  display: inline-block;
  background: url(../img/icon_sprite_all.png);
  width: 35px;
  height: 15px;
}
/* 不同图标的位置 */
.sprite_all_radio {
  background-position: -31px -658px;;
}
/* 相对定位对齐微调 */
.sprite_all_relative {
  position: relative;
  top: 2px;
}